<!-- <p>mayor-menor works!</p> -->
<section class="mayormenor-container">

    @if (user) {
        <div class="container d-flex flex-column justify-content-center">
            <h1 class="titulo-mayormenor">MAYOR MENOR</h1>
            <p class="puntuacion">
              Puntuación: {{ score }}
              <span class="intentos">(Intentos: {{ attempts }}/10)</span>
            </p>
            <!-- <p class="juego-terminado" *ngIf="gameOver">
              {{ textGameOver }}
            </p> -->
            <div class="row">
              <div class="col">
                <img class="carta-izquierda" src="{{ cardImage }}" alt="" />
              </div>
              <div class="col">
                <img
                  class="carta-derecha"
                  src="../../../../assets/mayor menor/reverso.png"
                  alt=""
                />
              </div>
            </div>
      
            @if (!activeGame) {
              <div>
                  <button class="glow-on-hover" (click)="startGame()">
                    {{ startButtonText }}
                  </button>
                </div>
            }
      
            @if (activeGame) {
              <div class="btn-mayormenor">
                  <button type="button" class="btn btn-outline-danger btn-lg" style="margin-right: 10px;" (click)="playMayorMenor('menor')">Menor</button>
                  <button type="button" class="btn btn-outline-success btn-lg" (click)="playMayorMenor('mayor')">Mayor</button>
              </div>
            }
            
          </div>
    }
    
  </section>
