<!-- <p>home works!</p> -->

  

  

<header class="header-2">

    <div class="page-header">
      <span class="mask bg-gradient-primary opacity-4"></span>
      <div class="container">
        <div class="row">

          <div class="col-md-3">
            <a routerLink="/juegos/ahorcado">
              <div class="card text-bg-dark">
                <img src="../../../assets/img/ahoracado.png" class="card-img" alt="memoria" style="width: 100%; height: 250px;">
                <div class="card-overlay">
                  <div class="text-center">
                    <strong>AHORCADO</strong><br/><hr/>
                    El juego del "Ahorcado" es un juego de adivinanza de palabras en
                    el que un jugador debe adivinar una palabra oculta, letra por
                    letra, antes de que se complete un dibujo de un ahorcado.
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-3">
            <a routerLink="/juegos/mayor-menor">
              <div class="card text-bg-dark">
                <img src="../../../assets/img/mayormenor.png" class="card-img" alt="memoria" style="width: 100%; height: 250px;">
                <div class="card-overlay">
                  <div class="text-center">
                    <strong>MAYOR O MENOR</strong><br/><hr/>
                    El juego "Mayor o Menor" es un juego de adivinanza y estrategia
                    en el que los jugadores intentan adivinar si el siguiente número
                    será mayor o menor que el número actual.
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-3">
            <a routerLink="/juegos/preguntados">
              <div class="card text-bg-dark">
                <img src="../../../assets/img/preguntado.png" class="card-img" alt="memoria"  style="width: 100%; height: 250px;">
                <div class="card-overlay">
                  <div class="text-center">
                    <strong>PREGUNTADOS</strong><br/><hr/>
                    El juego "Preguntados" es un juego de preguntas y respuestas en
                    el que los jugadores ponen a prueba sus conocimientos en
                    diferentes categorías.
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-3">
            <a routerLink="/juegos/snake">
              <div class="card text-bg-dark">
                <img src="../../../assets/img/serpiente.png" class="card-img" alt="memoria" style="width: 100%; height: 250px;">
                <div class="card-overlay">
                  <div class="text-center">
                    <strong>SERPIENTE</strong><br/><hr/>
                    El juego de memoria con imágenes es un juego de concentración y
                    memoria en el que los jugadores deben hacer coincidir pares de
                    cartas con imágenes idénticas o relacionadas en un conjunto de
                    cartas boca abajo.
                  </div>
                </div>
              </div>
            </a>
          </div>

          <!-- <div class="col-md-2">
            <a routerLink="/components/quien-soy">
              <div class="card text-bg-dark">
                <img src="../../../assets/img/user_.png" class="card-img" alt="memoria"  style="width: 100%; height: 250px;">
                <div class="card-overlay">
                  <div class="text-center">
                    <strong>Quien Soy</strong><br/><hr/>
                     Haz click para mas informacion
                  </div>
                </div>
              </div>
            </a>
           </div> -->

        </div>
      </div>



    </div>

  </header>

  <!-- <app-navbar></app-navbar> -->
