<!-- <p>quien-soy works!</p> -->
<div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <div class="card mb-3 mt-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../../assets/img/wms.jpg" class="img-fluid rounded-start" style="width: 100%; height: 480px; object-fit: cover" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body" style="color: white;">
                  <h2 class="card-title " style="color: #e45635;">Walter Segovia</h2>
                  <h3 class="card-title ">4° B</h3>
                  <hr />
                  <h4 class="card-title" style="color: #e45635;">Título del Juego: Serpiente (Snake)</h4>
                  <h5 class="card-title">Introducción:</h5>
                  <p class="card-text">El juego de Serpiente, también conocido como Snake, es un clásico juego de arcade que ha cautivado a jugadores de todas las edades desde su creación en la década de 1970. En esta versión moderna, he desarrollado una emocionante y entretenida adaptación del juego que captura la esencia del original y la combina con características contemporáneas.</p>
                  <h5 class="card-title">Objetivo del Juego:</h5>
                  <p class="card-text"> El objetivo del juego es simple: controla la serpiente y recoge la comida para aumentar tu puntuación. Evita chocar con las paredes y con la propia cola de la serpiente. A medida que la serpiente crece, el juego se vuelve más desafiante, y los jugadores deben tomar decisiones estratégicas para sobrevivir el mayor tiempo posible y superar sus mejores puntajes.</p>

                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>