<!-- <p>quien-soy works!</p> -->
<!-- <body>
  <app-navbar></app-navbar>
</body> -->
<div class="container text-center">

    <div class="row align-items-center">
      <div class="col">
        <div class="card mb-3 mt-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../../assets/img/wms.jpg" class="img-fluid rounded-start" style="width: 70%; height: 360px; object-fit: cover" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body" style="color: white;">
                  <h2 class="card-title " style="color: #4635e4;">Walter Segovia</h2>
                  <h3 class="card-title ">4° B</h3>
                  <hr />
                  <h4 class="card-title" style="color: #e45635;">Ocupación:</h4>
                  <h5 class="card-title">Técnico electrónico y Estudiante de Programación en UTNFRA</h5>
                  <h2 class="card-text">Snake</h2>
                  <h5 class="card-title">Objetivo del Juego:</h5>
                   <p class="card-text"> El objetivo del juego es simple: Controla la serpiente y recoge la comida para aumentar tu puntuación, evita chocar con las paredes y con la propia cola de la serpiente. A medida que la serpiente crece, el juego se vuelve más desafiante y los jugadores deben tomar decisiones estratégicas para sobrevivir el mayor tiempo posible y superar sus mejores puntajes.</p>

                  <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

