.container {
    background-color: rgba(209, 208, 127, 0.862); /* 0, 0, 0, 0.5 */
    padding: 30px;
    border: 2px solid #00FF00;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
    border-radius: 15px;
}
hr{
    color: #00FF00;
    border: 2;
    opacity: .50;
}